.checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 5px;
    background-position: center;
}

.checkbox:focus {
    width: 18px;
    height: 18px;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 5px;
    background-position: center;
}

.checkbox:checked {
    background-image: url('checkboxChecked20x20.png');
    background-repeat: no-repeat;
}

label {
    text-align: center;
}

